# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

.Python
env/
venv/
ENV/
.venv/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py

# Media & Static
media/
staticfiles/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Testing & Coverage
# =========================
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/

# =========================
# IDEs and OS
# =========================
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Celery
# =========================
celerybeat-schedule
celerybeat.pid

# =========================
# Type checking / lint
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# Node (if frontend exists)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Optional (Be careful)
# =========================
# Uncomment ONLY if you know what you're doing
migrations/